* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas:
  "header header"
  "left right";
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 8fr;
  height: 850px;
}

#header-wrapper {
  grid-area: header;
}

#left-side-wrapper {
  background-color: #587A8A;
  grid-area: left;
}

#right-side-wrapper {
  background-color: #F2F6F7;
  grid-area: right;
}

/* HEADER STYLING */
#header {
  align-items: center;
  background-color: #1F1F3D;
  color: #FFFFFF;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

h1 {
  font-size: 45px;
}

span {
  color: #FFC30C;
}

#search-box-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-right: 1%;
  width: 31%;
}

#img-wrapper {
  background-color: #C8D3D9;
  border-radius: 5px 0 0 5px;
  display: flex;
  height: 65%;
  justify-content: center;
  width: 14%;
}

#magnifying-glass-img {
  width: 50%;
}

#magnifying-glass-img:hover {
  cursor: pointer;
}

#search-box {
  border: none;
  border-radius: 0 5px 5px 0;
  color: #1F1F3D;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 65%;
  outline: none;
  padding-left: 4%;
  width: 86%;
}
/*  */
